.navbar-top {
    height: 80px;
    top: 0;
    position: fixed; 
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; 
    color: #555;
    padding: 10px;
    transition: top 0.3s;
    z-index: 2000;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    height: 80px;
    top: 80px;
    position: fixed; 
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff; /* #dc143c #333 */
    color: #555;
    padding: 10px 0px;
    transition: top 0.3s;
    z-index: 2000;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-weight: bold; */
}
    
/* Left section */
.left-section {
    width: 80%;
    text-align: center;
}

/* Right section */
.right-section {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Search bar */
.search-bar {
    margin-right: 20px;
}

/* Anchor links */
.navbar-link {
    color: #555;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 0;
    margin: 0 25px;
    border-bottom: 3px solid transparent; /* Initially, set border-bottom to transparent */
    transition: border-bottom-color 0.5s; /* Add a smooth transition effect for color change */
}

.navbar a.hovered {
    border-bottom-color: #555; 
}

.navbar a:hover {
    border-bottom-color: #555; /* dec88e Change the color of border-bottom on hover */
}

.logo {
    font-size: 2.5em;
    font-weight: bold;
    font-family:  'Times New Roman', Times, serif; /* 'Times New Roman', Times, serif */
}

/* Style the middle section (main links) */
.middle-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a.hovered {
    border-bottom-color: #555; 
}

.nav-links a:hover {
    border-bottom-color: #555; /* dec88e Change the color of border-bottom on hover */
}

#dropdown-button.hovered {
    border-bottom-color: #555;
} 

.search-field {
    /* background-color: #dc143c; */
    margin-right: 10px;
    width: 100%;
    position: relative;
    transition: all 0.5s ease;
    transform-origin: right center;
    flex-grow: 1; /* This will make the search bar expand to fill the available space */
}

.navbar input[type="text"] {
    padding: 10px;
    border-radius: none;
    color: #555; 
    /* width: 220px; */
    border: 3px solid transparent; /* 1px solid #fff */
    background-color: transparent; /* #f0efef */
    transition: all 0.5s ease;
    border-bottom-left-radius: none;
    border-top-right-radius: none;
}

.navbar input:hover,
.navbar input:focus,
.navbar input:valid {
    border-bottom: 3px solid #555; 
    outline: none; 
}

.search-field input[type="text"]::placeholder {
    color: transparent;  
} 

.search-field input[type="text"]:focus::placeholder,
.search-field input[type="text"]:hover::placeholder {
    color: #555;  
} 

.search-button {
    position: absolute;
    right: -5px;
    top: 0;
    background-color: transparent;
    color: #555;
    border: none;
    border-radius: 25px;
    padding: 8px 15px;
    cursor: pointer;
}

.language {
    position: relative;
    cursor: pointer;
}

.sort-down {
    position: absolute;
    top: -5px;
    left: 0px;
}

.dashboard {
    padding-left: 10px;
    cursor: pointer;
}

.dashboard-container,
.language-picker-container {
    width: 100%;
    position: relative;
    display: inline;
}

.dashboard-indicator {
    position: absolute;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #fff;
    top: 15px;
    right: 0px;
    display: none;
}

.language-picker {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2100;
}

.language-picker a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.language-picker a:hover {
    background-color: #f2f2f2;
}

.language-picker-container:hover .language-picker {
    display: block;
}


#search-results {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 100%;
    left: 0;
    z-index: 2000;
}

.result-found {
    /* background-color: #dc143c; */
    color: #333; /* rgb(2, 141, 247) */
    padding: 0px; /* 8px */
    cursor: pointer;
}

.result-not-found {
    color: #dc143c;
    padding: 8px;
}

.image-container {
    display: flex;
}

.image-item {
    text-align: start;
    color: #333;
    margin: 10px;
}

.image-item:hover {
    cursor: pointer;
}

.image-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd; 
    border-radius: 8px; 
}

.image-item p {
    margin: 0;
    padding: 5px;
}

/************************************************************DOPDOWN BUTTON + CONTENT ************************************************/
.collection-content,
.linens-textiles-content {
    position: absolute;
    display: block;
    color: #555;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    top: 100%;
    left: 0;
    z-index: 2000;
    transition: height 0.5s ease-in-out;
    border-top: 1px groove #eee;
}

.collection-content.collapsed,
.linens-textiles-content.collapsed {
    height: 100vh; /* Set height to 0 when collapsed */
    overflow: hidden; /* Hide content overflow */
}


/* .collection-content,
.linens-textiles-content {
    position: absolute;
    display: none;
    color: #555;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    top: 100%;
    left: 0;
    z-index: 2000;
    transition: height 0.5s ease-in-out;
    border-top: 1px groove #eee;
} */

.close-collection,
.close-linens-textiles {
    display: none;
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 50px;
    color: #dc143c;
    cursor: pointer;
}

/* .dropdown-separation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
} */

/*****************************************************************DROPDOWN CONTENT****************************************************/
.grid-container,
.grid-container-two {
    display: none;
    width: 80%;
    /* background-color: #dc143c; */
    /* display: flex; */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    margin: 10px auto; /* 150px */
    margin-top: 100px; /* in order for the content to be beneath the close button */
}

.grid-container-two {
    margin-top: 10px;
}

.grid-container a,
.grid-container-two a {
    display: block;
    color: #555;
    font-size: 12px;
    padding: 5px 0;
    text-decoration: none;
    margin: 0;
}

.grid-container a:hover, 
.grid-container-two a:hover {
    color: #777;
    cursor: pointer;
}

.left-content, 
.middle-left-content, 
.middle-center-content, 
.middle-right-content, 
.right-content {
    flex-basis: 20%; /* Adjust as needed to leave space for margins */
}

.title {
    color: #333;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.collections-image {
    background-image: url('images/collections.jpg'); 
    background-color: #cccccc;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    position: relative;
}

.linens-textiles-image {
    background-image: url('images/linens&textiles.jpg'); 
    background-color: #cccccc;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    position: relative;
}

.collections-home,
.linens-textiles-home {
    position: absolute;
    bottom: -40px;
    left: 0px;
}

#novelties {
    font-weight: 900;
    color: #111;
}