/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    padding-top: 60px; /* set the height relative to the navbar so that content would fit */
}

.index-background {
    background-image: url('images/test.jpg'); /* url('images/test2.png') */
    background-color: #cccccc;
    height: 100vh;
    width: 100%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
}


/*****************************************************************NAVBAR***************************************************************/
.navbar {
    height: 60px;
    top: 0;
    position: fixed; 
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* #dc143c #333 */
    border-bottom: 1px solid #ccc;
    color: #444;
    padding: 10px;
    z-index: 2;
}

/* Style the left section (logo) */
.left-section {
    flex: 1;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

/* Style the middle section (main links) */
.middle-section {
    flex: 2;
    text-align: center;
}

.nav-links a {
    color: #555;
    text-decoration: none;
    padding: 10px 0;
    margin-left: 15px;
    font-weight: bold;
    position: relative; /* Ensure relative positioning */
}

.nav-links a::after,
#dropdown-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the height of the border bottom as needed */
    background-color: rgb(2, 141, 247); /* Adjust the color of the border bottom as needed */
    transition: width 0.3s ease; /* Add transition for smooth effect */
}

#dropdown-symbol {
    font-size: 10px;
}

.nav-links a:hover::after,
#dropdown-button:hover::after {
    width: 100%;
}

#dropdown-button.hovered::after {
    width: 100%; /* Extend the border bottom when hovered */
}

/***********************************************/
/* Style the right section (search, fav, and cart links) */
.right-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* #search-form {
    transition: all 0.5s ease;
} */

.search-field,
.navbar .middle-section .search-field {
    position: relative;
    transition: all 0.5s ease;
    transform-origin: right center;
}

.navbar input[type="text"] {
    padding: 8px;
    border-radius: 25px;
    color: #555; 
    border: 1px solid #fff; 
    background-color: rgba(241, 222, 222, 0.5); 
    transition: all 0.5s ease;
}


.navbar .middle-section input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 25px;
    color: #555; 
    border: 1px solid #fff; 
    background-color: rgba(241, 222, 222, 0.5); 
    transition: all 0.5s ease;

}

.navbar input:focus,
.navbar .middle-section input:focus {
    border: 1px solid rgb(2, 141, 247); 
    outline: none; 
    background-color: rgba(241, 222, 222, 0.9); /* #f0f8ff */
}

.search-field input[type="text"]::placeholder {
    color: #777; /* Placeholder text color */
}

.search-button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    color: rgb(2, 141, 247);
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 8px 15px;
    cursor: pointer;
}

.navbar .middle-section .search-button {
    position: absolute;
    right: -18px; /* overlapping search button */
    top: 0;
    background-color: transparent;
    color: rgb(2, 141, 247);
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 8px 15px;
    cursor: pointer;
}

.search-field input[type="text"]:not(:focus) + .search-button:hover {
    background-color: #ddd;
    border: 1px solid #fff;
    border-left: none;
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
}
.search-button:hover,
.navbar .middle-section .search-button:hover {
    background-color: #ddd;
    border: 1px solid rgb(2, 141, 247);
    border-left: none;
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
}
#search-results {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    top: 100%;
    left: 0;
    z-index: 2;
}

.result-found {
    /* background-color: #dc143c; */
    color: #333; /* rgb(2, 141, 247) */
    padding: 0px; /* 8px */
    cursor: pointer;
}

.result-not-found {
    color: #dc143c;
    padding: 8px;
}
/* Style the right section links */
.right-section .nav-links a {
    margin-left: 15px;
}

/* button marginleft initially 5px*/
/**************************************************************INDEX*******************************************************************/
.jumbotron-container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    max-width: 600px;
    padding: 20px;
    color: #fff;
    background-color: transparent;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); */
    text-align: center;
}

/* Style the anchor tag as a button */
.jumbotron-button {
    width: 150px;
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: transparent; /* Button background color #007bff */
    color: #fff; /* Button text color */
    text-decoration: none;
    border-radius: 25px; /* Rounded corners */
    border: 1px solid #fff; /* Button border */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Change button styles on hover */
.jumbotron-button:hover {
    background-color: rgb(2, 141, 247); /* Darker background color on hover */
    border-color: rgb(2, 141, 247); /* Darker border color on hover */
}

/**************************************************************Products****************************************************************/


/**************************************************************Newsletter****************************************************************/
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.form {
    margin-top: 5%;
    color: #555;
    max-width: 60%;
    width: 100%;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.centered-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.newsletter-field {
    margin-bottom: 20px;
    padding: 8px 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff; 
    border: 1px solid #fff; 
    background-color: rgb(51, 51, 51, 0.6);
}

.newsletter-field:focus {
    border: 1px solid #007bff; 
    outline: none; 
    background-color: rgba(71, 71, 71, 0.6); /* #f0f8ff */
}

.newsletter-field::placeholder {
    color: #fff; /* Placeholder text color */
}

.submit-button {
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff; 
    text-decoration: none;
    border-radius: 5px; 
    border: 1px solid #007bff; 
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    cursor: pointer;
}

#customer-category {
    color: #fff;
}

/******************************************************SEARCH-AUTOCOMPLETE*************************************************************/
.image-container {
    display: flex;
}

.image-item {
    text-align: start;
    color: #333;
    margin: 10px;
}

.image-item:hover {
    cursor: pointer;
}

.image-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd; 
    border-radius: 8px; 
}

.image-item p {
    margin: 0;
    padding: 5px;
}

/*************************************************************ITEM*********************************************************************/
.item-container {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

.small-photos {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.small-photo {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 4px;
}

.small-photo:hover {
    cursor: pointer;
}

.carousel-btn {
    position: absolute;
    top: 85%; 
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: rgb(2, 141, 247);
    font-size: 20px;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
    outline: none;
}

#prev-btn {
    left: 420px;
}

#next-btn {
    right: 20px;
}

.main-photo {
    max-width: 100%;
    width: 500px;
    height: 500px;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.active-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(2, 141, 247);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

/****************************************************************PRODUCT SUGGESTION****************************************************/
.product-suggestions {
    color: #555;
    margin: 10px;
}
.carousel-container {
    position: relative;
    overflow: hidden;
    padding-top: 80px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item-container {
    width: 500px;
    height: 500px;
    margin-right: 20px;
}
.carousel img {
    width: 350px;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
}

.prev-button,
.next-button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    background-color: #eceaea;
    border-radius: 50%;
    border: 0 solid transparent;
    padding: 10px;
    cursor: pointer;
}

.prev-button {
    top: 25px;
    right: 60px;
}

.next-button {
    top: 25px;
    right: 10px;
}

/********************************************************************DOPDOWN BUTTON***************************************************/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    display: inline; /* keep it or mess up layout */
}

.dropdown-content {
    top: 100%;
    text-align: left;
    display: none;
    position: absolute;
    background-color: #fff;
    color: #333;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: none;
    transition: transform 0.3s ease;

}

.dropdown-content a:hover {
    background-color: rgb(2, 141, 247);
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border: none;
}

.dropdown-content {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    top: 100%;
    left: 0;
    z-index: 2;
}

/*********************************************************FOOTER**********************************************************************/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    padding-left: 20px;
}

.footer-info,
.footer-links,
.footer-contact {
    flex: 1 1 200px;
    margin-bottom: 20px;
}

.footer-info h3,
.footer-links h3,
.footer-contact h3 {
    color: #fff;
    font-size: 1.2em;
}

.footer-info p,
.footer-links ul,
.footer-contact p {
    color: #ccc;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    color: #ccc;
    font-size: 0.9em;
}
