{% extends "base/base.html" %}
{% block title %}
    <title>Index</title>
{% endblock title %}
{% block content %}
<div class="jumbotron-container">
    <div class="jumbotron">
        <h1>Shop Taklaach</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="jumbotron-button" href="">Clothing</a>
        <a class="jumbotron-button" href="">Accessories</a>
    </div>
</div>
{% endblock content %}
