{% extends "base/base.html" %}
{% load static %}
{% block title %}
    <title>Index</title>
{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock styles %}
{% block app_links %}
    <div id="middle-links" class="nav-links">
        <a class="navbar-link hovered" href="{% url 'products:index' %}">ACCEUIL</a>
        <a class="navbar-link" id="novelties" href="">NOUVEAUTÉS</a>
        <a class="navbar-link" id="collection-dropdown" href="">COLLECTIONS</a>
        <a class="navbar-link" id="linens-textiles-dropdown" href="">MAISON</a>
        <a class="navbar-link" href="{% url 'products:about' %}">DARREL WALDYN WORLD</a>
        <a class="navbar-link" href="">INSTAGRAM</a>
        <a class="navbar-link" href="{% url 'products:location' %}">CONTACT</a>
        <a class="navbar-link" href="" id="subscribe-link">NEWSLETTER</a>
    </div>    
{% endblock app_links %}
{% block content %}
    <div class="index-background">
        <div class="jumbotron-container">
            <div class="jumbotron">
                <h1>Shop Name</h1>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="jumbotron-button" href="{% url 'products:collections' %}">COLLECTION</a>
                <a class="jumbotron-button" href="">MAISON</a>
            </div>
        </div>    
    </div>
    <div class="tops-background"></div>
<!--Shop by category-->
{% endblock content %}
