{% extends "base/base.html" %}
{% block title %}
    <title>Product search</title>
{% endblock %}
{% block content %}
    <br>
    {% if items %}
        {% for item in items %}
            {{item.name}}
            <img src="{% if item.image.url %}{{ item.image.url }}{% endif %}" alt="Image Corrupted" style="width: 100px; height: 100px;"> 
            <br>
            {{item.price}} DA
            <br>
            {{item.category}}
            <br>
            {{item.stock}}
            <hr>
        {% endfor %}
    {% endif %}
{% endblock content %}