{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Base</title>
    {% endblock title %}
    {% block styles %}
    {% endblock styles %}
    <!-- loading css -->
    <link rel="stylesheet" href="{% static "css/core.css" %}">
    <link rel="stylesheet" href="{% static "css/navbar.css" %}">
    <link rel="stylesheet" href="{% static "css/newsletter.css" %}">
    <link rel="stylesheet" href="{% static "css/footer.css" %}">
    <!-- loading leaflet -->
    <link rel="stylesheet" href="/static/leaflet/leaflet.css"/>
    <script src="/static/leaflet/leaflet.js"></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Space+Grotesk:wght@500&family=Teko&display=swap" rel="stylesheet">

    <!-- app base path -->
    <script>var basePath = "{% url 'index' %}";</script>
    <!-- force reloading when using browser back button -->
    <script>
        var perfEntries = performance.getEntriesByType("navigation");
        if (perfEntries[0].type === "back_forward") {
            location.reload(true);
        }
    </script>  
</head>
<body>
    <nav>
        <div id="navbar" class="navbar">
            <div class="left-section">
                <div class="logo">Logo</div>
            </div>        
            <div class="middle-section">
                <div id="middle-links" class="nav-links">
                    <a href="{% url 'products:index' %}">Home</a>
                    <div class="dropdown">
                        <a id="dropdown-button" href="#">Products <span id="dropdown-symbol">&#9660;</span></a>
                    </div>
                    <a href="" id="subscribe-link">Subscribe</a>
                    <a href="#">Location</a>
                    <a href="{% url 'products:about' %}">About</a>
                </div>    
                <span id="middle-search"></span>
            </div>
            <div class="right-section">
                <div id="right-search">
                    <form id="search-form" action="{% url 'products:search' %}" method="GET" role="search">{% csrf_token %}
                        <div id="searchbar" class="search-field">
                            <input id="product-search" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search" required>
                            <button class="search-button">
                                <img class="search-icon" src="/static/icons/magnifying-glass.svg" alt="Search Icon" width="12" height="12">
                            </button>     
                        </div>
                    </form>     
                </div>
                <img id="right-links" style="padding: 0px 10px;" src="/static/icons/gear.svg" alt="Search Icon" width="20" height="20">
                <div class="nav-links">
                    <div id="cancel-link" style="display: none;">
                        <a href="" class="cancel-link">Cancel</a>
                    </div>
                </div>
            </div>
            <span class="centered-element" id="search-results"></span>
            <div class="dropdown-content">
                <div class="grid-container">
                    <div class="left-content">
                        <a class="title" href="{% url 'products:clothing' %}">Clothing</a>
                        {% for category in clothing %}
                            <a href="{% url 'products:category-products' category.pk %}">{{category.name}}</a>
                        {% endfor %}    
                        <br>
                    </div>
                    <div class="middle-content">
                        <a class="title" href="#">Garniture</a>
                        <p>blanket</p>
                        <p>table cloth</p>
                        <p>bed sheet</p>
                        <br>
                    </div>
                    <div class="right-content">
                        <a class="title" href="#">Collections</a>
                        <p>Winter 2024</p>
                        <p>Summer 2024</p>
                        <p>Spring 2024</p>
                        <p>Autumn 2024</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <script type="text/javascript" src="/static/js/dropdown_layout.js"></script>
    <script type="text/javascript" src="/static/js/search_layout.js"></script>
    <script type="text/javascript" src="/static/js/search_autocomplete.js"></script>
    <script type="text/javascript" src="/static/js/navbar_visibility.js"></script>
    <!--NEWSLETTER FORM-->
    <div class="form-container">
        <div id="newsletter-popup" class="newsletter-form">
            <div class="close-button-container">
                <div id="close-newsletter" class="close-button">&times;</div>
            </div>    
            <h1 class="centered-element">Subscribe</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <form method="post">{% csrf_token %}
                <input class="newsletter-field" id="email" type="email" placeholder="Email..." required>
                <input class="newsletter-field" id="phone" type="text" placeholder="Phone..." required>
                <label for="choice-field">Clothing category of interest</label>
                <select name="choice-field" id="choice-field">
                    <option value="All">All</option>
                    <option value="option1">option1</option>
                    <option value="option2">option2</option>
                    <option value="option3">option3</option>
                    <option value="option4">option4</option>
                </select>
                <div class="centered-element">
                    <button class="submit-button">Subscribe</button>
                </div>
            </form>    
        </div>
    </div>
    {% block content %}
    {% endblock content %}
    <script type="text/javascript" src="/static/js/filterbar_visibility.js"></script>
    <script type="text/javascript" src="/static/js/newsletter.js"></script>

    <footer>
        <div class="footer-container">
            <div class="footer-info">
                <h3>Your Website Name</h3>
                <p>A brief description of your website or company. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere reprehenderit deserunt perspiciatis molestias asperiores, ipsam quasi excepturi possimus! Sapiente accusamus sequi laudantium laboriosam, at quod? Quas omnis voluptates voluptas minima.</p>
            </div>
            <div class="footer-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="{% url 'products:index' %}">Home</a></li>
                    <li><a href="{% url 'products:about' %}">About</a></li>
                    <li><a href="{% url 'products:news-letter' %}">newsletter</a></li>
                    <li><a href="{% url 'products:location' %}">Location</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h3>Contact Us</h3>
                <p>Email: info@example.com</p>
                <p>Phone: +1234567890</p>
                <p>Address: 123 Street, City, Country</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Your Website. All Rights Reserved. | Designed by Your Name</p>
        </div>
    </footer>
    
</body>
</html>
    <!-- <h1>Actions</h1>
    {% if request.user.is_superuser %}
        Admin - <a href="{% url 'products:upload-content' %}">Upload product</a>
        <br>
        Admin - <a href="{% url 'products:create-category' %}">Create category</a>
    {% else %}
        Customer - <a href="{% url 'products:news-letter' %}">News letter</a>
    {% endif %}
    <br>-->

